<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles.css"></link>
    <title>Blog Posts</title>
  </head>
  <body>
    <h1> Blog Posts ....Lets Read</h1>

    <div>
      <a href="/input-post">Add New Post</a>
    </div>

    <ul>
      {{#posts}}
    
      <li>
      Category: <label>{{category}}</label>
      </br>

      Title:  <label>{{title}}</label>
      </br>
      <p>{{body}}</p>
      Date Posted:  <label>{{date}}</label>
      <form action="/delete-post" method="POST">
        <input type="hidden" name="postid" value="{{postid}}" />
        <input type="submit" value="Remove" />
      </form>
    </li>

      {{/posts}}
    </ul>


  </body>
</html>
